<% allTasks.forEach(task => { %>
    <% if(!task.finishedDate) { %> 
        <div class="col-12 col-sm-4 col-lg-1 _cardEnable" data-id="<%=task._id%>" onfocusout="onFocusUpdate(event)">
            <div class="_card__title text-break">
                <p contenteditable="true" id="task-title-<%=task._id%>"><%= task.title %></p>
            </div>
            <div class="text-break">
                <p contenteditable="true" id="task-text-<%=task._id%>"><%= task.text %></p>
            </div>
            <a href="/tasks/<%= task._id %>/completed">
                <span class="iconify" data-inline="false" data-icon="bi:check-lg"></span>
            </a>
            <a>
                    <span class="iconify" data-icon="noto:artist-palette" data-inline="false"></span>
                    <div class="dropdown">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
            </a>

        </div> 
    <% } %> 
<% }) %> 