<!-- Tareas finalizadas -->
<div class="col-md-4 mx-auto">
  <div class="card">
      <% allTasks.forEach(task =>{ %>
          <% if(task.finishedDate) { %>           
                <div class="card-body col-12 col-sm-4 col-lg-1 _cardDisabled" data-id="<%=task._id%>" onfocusout="onFocusUpdate(event)">
                      <div class="form-group">
                        <div class="_card__title text-break">
                            <input type="text" class="form-control" name="title" id="task-title-<%=task._id%>"><%= task.title %></input>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="_card__title text-break">
                            <textarea id="task-text-<%=task._id%>" name="text" class="form-control"><%= task.text  %> </textarea>
                        </div>
                    </div> 
                  </div>
          <% } %> 
      <% }) %> 
  </div>
</div>
<div class="container p-5">