<!-- Tareas finalizadas -->
<div class="col-md-4 mx-auto">
<div class="card">
    <% allTasks.forEach(task =>{ %>
        <% if(task.finishedDate) { %>           
            
               <div class="card-body col-12 col-sm-4 col-lg-1 _cardDisabled" data-id="<%=task._id%>" onfocusout="onFocusUpdate(event)">
                    <div class="form-group">
                        <div class="_card__title text-break">
                            <input type="text" class="form-control" name="title" id="task-title-<%=task._id%>"><%= task.title %></input>
                        </div>
                    </div>
                    <div class="form-group">
                            <p id="task-text-<%=task._id%>"><%= task.text %> </p>
                        </div>
                    </div> 
                </div>
        <% } %> 
    <% }) %> 
</div>
</div>
 
     
        
          <% if (task.finishedDate){%>
            
                <input type="text" class="form-control" name="title">
                <%= task.title %></input>
              </div>
              <div class="form-group">
                <textarea name="text" class="form-control"><%= task.text  %> </textarea>
              </div>






              <div class="container p-5">

                <!-- Nueva nota / Formulario -->
                <div class="container p-0 mb-2 d-flex justify-content-center">
                  <div class="_cardEnable _cardInput">
                    <form action="/" method="POST">
                      <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
                      <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
                      <input type="submit" value="!">
                    </form>
                  </div>
                </div>

              </div>
