<% allTasks.forEach(task => { %>
  
  <% if(!task.finishedDate) { %> 
    <div class="d-flex flex-column gap-3 col-12 col-sm-4 col-md-3 col-lg-2">
      
      <!-- Task -->
      <div id="task-title-<%=task._id%>" class="d-flex flex-column card _cardMain _cardInput" 
        data-id="<%=task._id%>" onfocusout="onFocusUpdate(event)" style="background-color:<%=task.color%>">
       
        <div class="textMenu d-flex flex-row justify-content-between text-break" >
          <!-- Task title -->
          <div id="task-title-<%=task._id%>" class="d-flex card-title _cardInput text-break task--title">
            <p contenteditable="true"><%= task.title %></p>
          </div>
          <!-- Delete Action -->
          <div>
            <a href="#" class="d-flex" contenteditable="false" >
              <!-- <i class="bi bi-x-square"></i> -->
            </a>
          </div>
        </div>
        
         <!-- Task text  -->
        <div id="task-text-<%=task._id%>" class="text-break"> <!-- form-control _card__title -->
         
          <p id="task-text-<%=task._id%>" contenteditable="true" class="card-text" placeholder="Añadir una nota">
            <%= task.text %>
          </p> 
        </div>
        <% if(task.reminderDate){ %> 
        <div id="reminderTag-<%=task._id%>" class="reminderTag mt-3"> <!-- REVISAR MARGEN ENTRE TEXTO Y HORA/ICONOS PORQUE FALTABA UN </DIV> -->
          <span id="reminderTagText-<%=task._id%>" data-reminderdate="<%=task.reminderDate%>" class="reminderTagText">
            <span id="reminderDay-<%=task._id%>"><%=task.reminderDate.getDate()%></span> <span id="reminderMonth-<%=task._id%>" class="reminderMonth"><%=task.reminderDate.getMonth()%></span> <span id="reminderYear-<%=task._id%>"><%=task.reminderDate.getFullYear()%></span>, <span id="reminderHour-<%=task._id%>"><%=task.reminderDate.getHours()<10?"0"+task.reminderDate.getHours():task.reminderDate.getHours() %></span>:<span id="reminderMinutes-<%=task._id%>"><%= task.reminderDate.getMinutes()<10?"0"+task.reminderDate.getMinutes():task.reminderDate.getMinutes() %></span>
            <!-- Opción para refactorizar el código en un futuro -->
            <!-- <span>task.reminderDate.toLocaleDateString("es-Es", {year:"numeric", month:"long",day:"numeric"})</span> -->
          </span>
        </div>
        <% }else{ %>
          <div id="reminderTag-<%=task._id%>" class="reminderTag mt-3" hidden> <!-- REVISAR MARGEN ENTRE TEXTO Y HORA/ICONOS PORQUE FALTABA UN </DIV> -->
            <span id="reminderTagText-<%=task._id%>">
              <span id="reminderTagTextSpan-<%=task._id%>">
                  <span id="reminderDay-<%=task._id%>"></span> <span id="reminderMonth-<%=task._id%>" class="reminderMonth"></span> <span id="reminderYear-<%=task._id%>"></span>, <span id="reminderHour-<%=task._id%>"></span>:<span id="reminderMinutes-<%=task._id%>"></span>
                </span>            
            </span>
          </div>
        <% } %>  
        <!-- Action Icons -->
        <div>
          <div class="d-flex">
            <a data-id-complete="<%= task._id %>" href="/tasks/<%= task._id %>/completed" class="d-flex pt-2" ><i class="bi bi-check-lg"></i></a>
            <a id="reminderId" href="#" class="d-flex"> <i class="btn bi-bell" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <input id="reminder-date-<%=task._id%>" class="dropdown-item" type="date">
                <input id="reminder-hour-<%=task._id%>" class="dropdown-item" style="width:100%" type="time">
              </ul>
            </a>
            <!-- <a href="#" class="d-flex p-2"><i class="bi bi-upload"></i></a> -->
            <div class="dropup" >       
              <button class="iconify"   data-icon="noto:artist-palette" data-inline="false"></button>
              <div class="dropup-content" data-id-colores="<%=task._id%>" onclick="updateTask(event)" > 
                <div>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Skin"  style="background-color:#fadda4; border-radius: 50px; height: 25px; width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Yellow"   style="background-color:#fcf7a4; border-radius: 50px; height: 25px; width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="White"   style="background-color:#ffffff; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <bStton  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Orange"   style="background-color: #facc81; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                </div>
                <div>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Green"   style="background-color:#a5f59e; border-radius:50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Cyan"   style="background-color: #99f5d6; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Blue"   style="background-color: #9edbf5 ; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;" ></button>
                  <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Dark Blue"   style="background-color: #949ef7 ; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;"></button>
              </div>
              <div>
                <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Purple"   style="background-color:#bf9dfa; border-radius:50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;"></button>
                <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Pink"   style="background-color: #faacf3; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;"></button>
                <button  class="dropup-toggle" type="button"  data-toggle="dropup" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="right" title="Gray"   style="background-color: #8f657457; border-radius: 50px; height: 25px;width: 25px; border: 1px rgba(0, 0, 0, 0.300) solid;"></button>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     
  <% } %>
<% }) %> 