<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <div>
      <% if(workSpace){ %>
        <form action="/addTask" method="POST">
        <input type="hidden" name="id" value="<%= workSpace._id %>">
        <% }else{ %>  
      <form action="/" method="POST">
        <% } %> 
        <label for="title">Title</label>
        <input type="text" name="title" id="title" maxlength="140">

        <label for="text">Text</label>
        <input type="text" name="text" id="text" maxlength="5000">

        <input type="submit" value="Añadir Nota">

      </form>
      <% if(workSpace){ %> 
      <div>
        <% workSpace.tasks.forEach(task =>{ %>
          <% if (!task.finishedDate){%> 
          <div style="border:1px solid black">
          <p><%= task.title %></p> 
          <p><%= task.text  %> </p>
            <a href="/tasks/<%= task._id %>/completed">
              <span class="iconify" data-inline="false" data-icon="bi:check-lg"></span>
            </a>
          </div> 
          <% }}) %> 
      </div>
      <% } %> 
    </div>

    <% if(workSpace){ %> 
      <div>
        <% workSpace.tasks.forEach(task =>{ %>
          <% if (task.finishedDate){%> 
          <div style="background-color: grey; border:1px solid black">
          <p><%= task.title %></p> 
          <p><%= task.text  %> </p>
            <a href="/tasks/<%= task._id %>/completed">
              <span class="iconify" data-inline="false" data-icon="bi:check-lg"></span>
            </a>
          </div> 
          <% }}) %> 
      </div>
      <% } %> 
    </div>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  </body>
</html>
