<!-- <!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include("./partials/_head")  %> 
  </head>
  <body>
    <header>
      <%- include("./partials/header")  %>
    </header>



    <div class="container p-5">
      
      <!-- Nueva nota / Formulario -->
    <div class="container p-0 mb-2 d-flex justify-content-center">
      <div class="_cardEnable _cardInput" >
        <% if(workSpace){ %>
          <form action="/addTask" method="POST">
          <input type="hidden" name="id" value="<%= workSpace._id %>">
          <% }else{ %>  
        <form action="/" method="POST">
          <% } %> 
          <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
          <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
          <input type="submit" value="!">  
        </form>
      </div>
    </div>

      <!-- Tareas activas -->
      <div class="container p-0">
        <div class="d-flex flex-wrap gap-2 justify-content-center">
          <% if(workSpace){ %> 
              <% workSpace.tasks.forEach(task =>{ %>
                <% if (!task.finishedDate){%> 
            <div class="_cardEnable" data-id="<%=task._id%>" onfocusout="onFocusUpdate(event)">
                  <!-- <div class="form-group"> -->
                    <input type="text" name="title" class="form-control" contenteditable="true" id="task-title-<%=task._id%>" placeholder="Título"><%= task.title %></input>
                  <!-- </div> -->
                  <!-- <div class="form-group"> -->
                    <textarea  name="text" class="form-control" contenteditable="true" id="task-text-<%=task._id%>" placeholder="Añadir   una nota"><%= task.text  %> </textarea>
                  <!-- </div> -->
                
                  <a href="/tasks/<%= task._id %>/completed">
                    <span class="iconify" data-inline="false" data-icon="bi:check-lg"></span>
                  </a>
            </div> 
                <% }}) %> 
            <% } %> 
        </div>
      </div>

      <!-- Tareas finalizadas -->
      <div class="container p-0 mt-2">
        <div class="d-flex flex-wrap gap-2 justify-content-center">
          <% if(workSpace){ %> 
              <% workSpace.tasks.forEach(task =>{ %>
                <% if (task.finishedDate){%> 
                <div class="_cardDisabled" >
                  <!-- <div class="form-group"> -->
                    <input type="text" class="form-control" name="title"><%= task.title %></input>
                  <!-- </div> -->
                  <!-- <div class="form-group"> -->
                    <textarea name="text"class="form-control"><%= task.text  %> </textarea>
                  </div>
                <!-- </div>  -->
                <% }}) %> 
            <% } %> 
        </div>
      </div>







    </div>
   
    


    
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      function onFocusUpdate(event){
        let idNote = event.currentTarget.dataset.id;
        let titleModified =  event.currentTarget.querySelector(`#task-title-${idNote}`).textContent;
        let parafModified = event.currentTarget.querySelector(`#task-text-${idNote}`).textContent;
        let data = {idNote, titleModified, parafModified};
        
        let response = fetch("/tasks/updateTask", {
        method: "POST",
        body: JSON.stringify(data),
        headers:{ //es necesario
          'Content-Type': 'application/json'
        }
        }).then(()=>{
          console.log("response:", response);
          console.log("data:", data);
        })
      }

    </script>
  </body>
</html> -->
