<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include("./partials/_head")  %>     
  </head>
  <body>

    <!-- Inicio contenedor -->
    <div class="container-fluid">

      <!-- Única fila | Todo el cuerpo -->
      <div class="row">
          <!-- Columna menu izquierda workspace. Ocupa una sección del grid - 1/12 --> <!-- style="width: 12.499999995%" -->
          <div  class="col-sm-1 sticky-top color-primary ">
            <%- include("./partials/navBar")  %>
          </div>

          <!-- Columna cuerpo workspace. Ocupa 11 secciones del grid - 11/12 -->
          <div class="col-sm-11 p-4 min-vh-100">

            <!-- Primera fila del cuerpo. Crear primera nota. Centrado -->
            <div class="d-flex justify-content-center ">

              <div class="_cardEnable _cardInput" >
                <form action="/addTask" method="POST">
                    <input type="hidden" name="idWorkspace" value="<%= idWorkspace %>">
                    <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
                    <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
                    <button type="submit" class="btn"><span class="iconify" data-icon="carbon:send-alt" data-inline="false"></span>
                    </button>
                </form>
              </div>

            </div>
            
            <!-- Segunda fila del cuerpo. Todas las notas. Izquierda a derecha -->
            <div class="d-flex flex-row flex-wrap pt-4 gap-2 ">       

              <%- include("./components/cardEnabled")  %> 

            </div>

            <div class="d-flex flex-row flex-wrap pt-4 gap-2 ">
     
              <%- include("./components/cardDisabled")  %> 

            </div>

          </div>
          
      </div>
      <!-- Fin única fila | Todo el cuerpo -->
  </div>
  <!-- Fin contenedor -->
    
  <%- include("./partials/_scripts")  %> <!-- Scripts globales app -->
  <script type="text/javascript" src="/js/taskUpdate.js"></script>

  </body>
  
</html>