<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <%- include("../partials/_head")  %>     
  </head>
  
  <body>

    <!-- Inicio contenedor -->
    <div class="container-fluid">

      <!-- Única fila | Todo el cuerpo -->
      <div class="row">

          <!-- Columna menu izquierda workspace. Ocupa una sección del grid - 1/12 -->
          <div  class="col-sm-2 col-md-2 col-lg-1 sticky-top color-primary">
            <%- include("../partials/navBar")%>
          </div>

          <!-- Columna cuerpo workspace. Ocupa 11 secciones del grid - 11/12 -->
          <div class="col-sm-10 col-md-10 col-lg-11 p-4 min-vh-100">
            <%- include("../components/messages")  %> 

            <!-- Primera fila del cuerpo. Crear primera nota. Centrado -->
            <div class="d-flex justify-content-center ">


  

      
                  <div class="col-md-4 mx-auto">
                    <div class="card">
                      <div class="card-header">
                        Introduzca la nueva contraseña   
                      </div>
                      <div class="card-body">  
                        <form action="/user/edit/<%= idUser %>" method="POST">
                            <input type="text" name="idUser" value="<%= idUser %>" hidden> 
                            <div class="form-group mt-1">
                              <input type="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group mt-1">
                              <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
            
                          <button class="btn btn-primary btn-block my-2">
                            Resetear password
                          </button>
            
                        </form>
                      </div>
                    </div>
                  </div>
 
            
         






            </div>




          </div>
          
      </div>
      <!-- Fin única fila | Todo el cuerpo -->
  </div>
  <!-- Fin contenedor -->

  <!-- Scripts globales -->   
  <%- include("../partials/_scripts")  %> 
  

  </body>
  
</html>